@font-face {
    font-family: AvenirRoman;
    src: url(../font/Avenir-roman.ttf);
  }
  
  @font-face {
    font-family: AvenirMedium;
    src: url(../font/Avenir-medium.ttf);
  }
  
  @font-face {
    font-family: AvenirBlack;
    src: url(../font/Avenir\ -black.ttf);
  }