@font-face {
  font-family: AvenirRoman;
  src: url(../font/Avenir-roman.ttf);
}

@font-face {
  font-family: AvenirMedium;
  src: url(../font/Avenir-medium.ttf);
}

@font-face {
  font-family: AvenirBlack;
  src: url(../font/Avenir\ -black.ttf);
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
}

::selection {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

section {
  display: none;
  position: absolute;
  top: 0;
  top: 0;
  left: 260px;
  min-height: 100vh;
  background-color: var(--body-color);
  transition: 0.5s;
  padding: 4em;
}

section h2 {
  padding-bottom: 0.5em;
}

p {
  line-height: 1.5;
  font-size: 16px;
  max-width: 35em;
}

code {
  display: block;
  font-family: var(--coding-font);
  white-space: pre;
  background-color: darkslategray;
  color: rgb(188, 178, 125);
  max-width: 35em;
  border-radius: 10px;
  line-height: 1.5;
}
