/* CODE VOOR DE OBA BUTTONS */
.buttons-zwart{
    display: block;
    width: 10em;
    color:#ffff;
    background-color:#000000;
    text-decoration: none;
    padding:2px 2px 2px 5px
  }
  
  .buttons-zwart:hover{
    background-color: #414141;
    cursor: pointer;
  }
  
  .buttons-wit{
    /* style */
    display: block;
    width: 5em;
    background-color: #ffff;
    color: #000000;
    text-decoration: none;
    padding:2px 3px 3px 5px;
    border: transparent;

    
  }
  
  .buttons-wit:hover{
    background-color: #eeeded;
    cursor: pointer;
  }
  
  .buttons-cookies{
    background-color: #e00404;
    color: #ffff;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px 4px 4px 4px;
  }    
  
  .buttons-cookies:hover{
    background-color: #ca0505; /*Iets donnkerder rood*/
    cursor: pointer;
  }
  .p{
    padding-bottom: 10px;
  }